<div id="milestone_notification">
  <% if project.milestones.count > 0 %>
    <p class="italic text-gray-500 text-sm text-center w-full mt-10">Select a milestone to preview</p>
  <% else %>
    <p class="italic text-gray-500 text-sm text-center mt-10">There are no milestone created for this project</p>
  <% end %>
</div>
