<div class="my-10 hidden w-full" data-project-target="milestoneWindow" data-name="members">
  <ul class="flex flex-col gap-3 p-3">
    <li>
      <div class="flex gap-2">
        <p>Henok Tesfu</p>
        <span>test@gmail.com</span>
      </div>
    </li>
  </ul>
</div>
