<div class="flex mt-1 justify-center" id="project_member_pics_container">
  <% project_users.each do |member| %>
    <img src="https://avatars.githubusercontent.com/u/72081991?v=4" alt="profile_pic" class="w-10 h-10 border-1 border-white rounded-full" />
  <% end %>
</div>
