<div class="flex mt-1 justify-center" id="project_member_pics_container">
  <% project_users.each do |member| %>
    <%= image_tag(member.user.image_as_thumbnail, class: "object-cover w-10 h-10 rounded-full") %>
  <% end %>
</div>
