<div class="bg-white px-6 py-10 flex-col" data-project-target="projectWindow" data-name="overview" data-project="<%= project.to_json %>" data-milestones="<%= project.milestones.to_json %>">
  <turbo-frame id="<%= project.id %>">
    <%= render 'partials/projects/project_overview_detail', project: project %>
  </turbo-frame>
</div>
