<li class="grid grid-cols-12 group text-sm text-gray-900">
  <div class="px-6 py-3 text-left text-xs col-span-1 flex items-center">1</div>
  <div class="px-6 py-3 text-left text-xs col-span-4 font-medium text-gray-500 flex gap-2 tracking-wider whitespace-nowrap">
    <img src="https://avatars.githubusercontent.com/u/72081991?v=4" alt="profile_pic" class="w-16 h-16 rounded-full" />
    <div class="flex flex-col justify-center">
      <p class="font-semibold text-md"><%= member.user.full_name %></p>
      <p class=""><%= member.user.email %></p>
    </div>
  </div>
  <div class="px-6 py-3 text-left text-xs col-span-2 font-medium text-gray-500 tracking-wider whitespace-nowrap flex items-center">
    <%= member.role %> <!-- Adjust to display the member's role -->
  </div>
  <div class="px-6 py-3 text-left text-xs col-span-3 font-medium text-gray-500 tracking-wider whitespace-nowrap flex items-center">
    <%= 'Web-developer' %> <!-- Adjust to display the member's profession -->
  </div>
  <div class="px-6 py-3 text-left text-xs col-span-2 flex items-center"> <!-- Adjust the class as needed -->
    <!-- Content for the last column -->
  </div>
</li>
