<div class="my-10 hidden w-full" data-project-target="milestoneWindow" data-name="tasks">
  <ul class="flex flex-col gap-3 p-3">
    <li>
      <div class="flex">
        <h3>Create the landing page</h3>
      </div>
    </li>
  </ul>
</div>
