<section class="hidden flex-1 flex-col" data-project-target="category" data-name="tasks">
  <button class="flex gap-1">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 13.5V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 9.75V10.5" />
    </svg>
    <span class="text-lg">Filter</span>
  </button>
  <div class="w-full bg-white divide-y divide-gray-200 max-h-[235px] overflow-auto">
    <header class="grid grid-cols-12 border-b border-gray-300 bg-gray-100">
      <span class="p-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider col-span-1"></span>
      <span class="p-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider col-span-3">Description</span>
      <span class="p-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider col-span-2">Team</span>
      <span class="p-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider col-span-2">Priority</span>
      <span class="p-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider col-span-2">Status</span>
      <span class="p-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider col-span-2"></span>
    </header>
  </div>
  <div class="divide-y h-full divide-gray-200" id="user_projects_container"></div>
</section>
