<div id="tasks_container">
  <div class="w-full divide-y divide-gray-200 max-h-[235px] overflow-auto">
    <header class="grid grid-cols-12 bg-gray-50">
      <span class="p-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider col-span-1"></span>
      <span class="p-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider col-span-3">Description</span>
      <span class="p-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider col-span-2">Team</span>
      <span class="p-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider col-span-2">Priority</span>
      <span class="p-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider col-span-2">Status</span>
      <span class="p-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider col-span-2"></span>
    </header>
    <% if tasks.count > 0 %>
      <ul class="bg-white divide-y divide-gray-200">
        <% tasks.each do |task| %>
          <%= render 'partials/tasks/single_task', task: task %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
