<li class="cursor-pointer" data-action="click->project#show" data-Id=<%= project.id %>>
  <div>
    <div class="bg-green-500 w-10 h-10 rounded-md p-12 flex justify-center items-center text-2xl"><%= project.title[0]%></div>
    <p><%= project.title %></p>
  </div>
</li>
