<div class="flex-col gap-2 hidden" data-profile-target="detail" data-group="groups">
  <h3 class="my-3 font-semibold text-lg">Groups</h3>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur amet ullam
    praesentium asperiores cum molestias, itaque saepe reiciendis quidem
    <br />
    perspiciatis facilis, quibusdam qui dolorem fuga dolore odit officia nostrum
    aliquam nisi, tenetur temporibus. Voluptatibus quo fugiat dolore accusantium,
    officiis aut!
  </p>
</div>
