<nav class="absolute z-20" data-controller="navigation">
  <button class="p-2 bg-white/30 rounded-lg text-white ml-5 mt-5" data-action="navigation#show" data-navigation-target="menuOpen">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
    </svg>
  </button>
  <div class="text-white duration-200 h-screen absolute top-0 left-0 -translate-x-full  backdrop-blur-sm p-10" data-navigation-target="navOptions">
    <button class="block ml-auto mb-10 hover:rotate-180 duration-200" data-action="navigation#hide">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    <ul class="flex flex-col gap-3">
      <li>
        <button class="flex flex-col items-center gap-2 hover:text-red-500">
          <%= link_to user_path(current_user), method: :get do %>
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              <p class="w-max"><%= current_user.full_name %></p>
            </div>
          <% end %>
        </button>
      </li>
      <li>
        <button class="flex flex-col items-center gap-2 hover:text-red-500">
          <%= link_to root_path, method: :get do %>
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
              </svg>
              <p class="w-max">Home</p>
            </div>
          <% end %>
        </button>
      </li>
      <li>
        <button class="flex gap-2 hover:text-red-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
          </svg>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %></button>
      </li>
    </ul>
  </div>
</nav>
